.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.todo-box{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color:rgb(231, 213, 112);
    height: 600px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5%;
}

h1{
    text-align: center;
    font-family: fantasy;
    font-size: 100px;
    color: red;
}

input{
    width: 450px;
    height: 40px;
}

ul{
    color: blue;
    margin: 10px 25px;
}

.list{
    height: 35px;
    text-indent: 10px;
    background-color: rgba(247, 236, 190, 0.4);
    border-style: groove;
    margin-top:5px;  
}

.list:hover{
    color:rgb(93, 142, 185);
    background-color: rgba(247, 236, 190, 0.7);
    font-weight: 600;
}

i{
 float: right;
 margin:5px;
}

.fa-trash:hover{
    color: red;
    cursor: grabbing;
}
.fa-check-square:hover {
    color: green;
}

.green {
 color: green;
}

em{
    color:red;
}

.strike  {
        text-decoration: line-through;
      }
